div.hidden(itemscope="" itemtype="http://schema.org/LocalBusiness")
	meta(itemprop="priceRange" content="RUB")
	meta(itemprop="image" content="/assets/templates/skat_1.0.0/images/logotip.png")
	span(itemprop="name")
		|ООО «СКАТ»
	div(itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress")
		span(itemprop="addressCountry") Россия
		span(itemprop="postalCode") 614990
		span(itemprop="addressRegion") Пермский край
		span(itemprop="addressLocality") Пермь
		span(itemprop="streetAddress") ул. Окулова 75, корпус 8
		span(itemprop="telephone") 8-342-270-00-10
		span(itemprop="faxNumber") 8-342-233-20-62
		span(itemprop="email") ofis@skat59.ru
	div(itemprop="openingHours" datetime="Mo-Fr 8:00−17:00" itemtype="http://schema.org/Duration")
		p
			|Понедельник-пятница
		p
			|8:00-17:00 без обеда
	div(itemtype="http://schema.org/GeoCoordinates" itemscope="" itemprop="geo")
		meta(itemprop="latitude" content="58.011835")
		meta(itemprop="longitude" content="56.204424")