.menu
	nav.navbar.navbar-skat(role="navigation")
		div.container-fluid.navbar-container
			.navbar-header
				button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand.sk-home(href="/")
			div.collapse.navbar-collapse#bs-example-navbar-collapse-1
				ul.nav.navbar-nav
					li.active.dropdown
						a.dropdown-toggle(href="#" data-toggle="dropdown") Компания
							b.caret
						ul.dropdown-menu
							li.nav-header
								a(href="/") Компания
							li.divider
							li
								a(href="/") Новости
							li
								a(href="/") Сертификаты, дипломы и награды
							li
								a(href="/") Партнеры
							li
								a(href="/") Производители техники
							li
								a(href="/") Спецпредложения
							li
								a(href="/") Контакты
					li.dropdown
						a.dropdown-toggle(href="#" data-toggle="dropdown") Каталог
							b.caret
						ul.dropdown-menu
							li.nav-header
								a(href="/") Каталог
							li.divider
							li
								a(href="/") Лесозаготовительная техника
							li
								a(href="/") Дорожно-строительная техника
							li
								a(href="/") Косилки
							li
								a(href="/") Навесное оборудование
							li
								a(href="/") Запчасти для техники "АМКОДОР"
							li
								a(href="/") Погрузчики вилочные
							li
								a(href="/") Складская техника
							li
								a(href="/") Подъемники
							li
								a(href="/") Запчасти для вилочных погрузчиков
							li
								a(href="/") Машины торфодобывающей отрасли
							li
								a(href="/") Зерноочистительные комплексы
							li
								a(href="/") Пневмоавтоматика SMC
					li.dropdown
						a.dropdown-toggle(href="#" data-toggle="dropdown") Услуги
							b.caret
						ul.dropdown-menu.dropdown-menu-right
							li.nav-header
								a(href="/") Услуги
							li.divider
							li
								a(href="/") Продажа спецтехники
							li
								a(href="/") Гарантийное и сервисное обслуживание
							li
								a(href="/") Текущий и капитальный ремонт
							li
								a(href="/") Лизинг
							li
								a(href="/") Тrade-In
							li
								a(href="/") Магазин автозапчестей для спецтехники
					li.dropdown
						a.dropdown-toggle(href="#" data-toggle="dropdown") Информация
							b.caret
						ul.dropdown-menu.dropdown-menu-right
							li.nav-header
								a(href="/") Информация
							li.divider
							li
								a(href="/") Статьи
							li
								a(href="/") Видео