section.section_home_01.container-fluid
	.row
		.container
			h2.section_h2.text-center
				|В нашем каталоге более 325 наименований техники.
			.row
				.container-fluid
					.section_block
						p
							|С 1999 года компания «СКАТ» работает для того, чтобы наши клиенты получали прибыль, используя современную и надежную технику, обеспеченную сервисом и запасными частями. За эти годы нашими клиентами стали многие крупнейшие компании Западного Урала.
						p
							|Можем предложить Вам большой выбор погрузчиков и подъемников, складской, лесозаготовительной и дорожно-строительной техники, манипуляторов и краноустановок, зерноочистительных комплексов. Рассмотрим любые удобные для Вас варианты приобретения спецтехники, в том числе лизинг, бартер и «trade-in». Ваша покупка будет выгодной!
						p
							|Спецтехника 
							strong Амкодор
							|, 
							strong Велмаш
							|, 
							strong Heli
							|, 
							strong Haulotte
							|, 
							strong Wecan 
							|и 
							a(href="#") других производителей
							|, официальными представителями которых является компания «СКАТ», будет служить вам верой и правдой долгие годы, а мы сделаем все, чтобы в течение срока службы с ней не возникало проблем. Мы организуем учебу ваших операторов, если у них нет опыта работы на данной технике.
						h4.section_h4.text-center.text-uppercase.fs-25.mt-20.mb-20
							|Производители
						.slick-proizvoditel
							.slick-proizvoditel-item.text-center
								a.slick-proizvoditel-item-link(href="#")
									span.slick-proizvoditel-item-link-bg(style="background-image: url('/assets/templates/skat_1.0.0/images/partners/amkodor.jpg');")
									span.slick-proizvoditel-item-link-txt
										|Амкодор
							.slick-proizvoditel-item.text-center
								a.slick-proizvoditel-item-link(href="#")
									span.slick-proizvoditel-item-link-bg(style="background-image: url('/assets/templates/skat_1.0.0/images/partners/velmash.jpg');")
									span.slick-proizvoditel-item-link-txt
										|Велмаш
							.slick-proizvoditel-item.text-center
								a.slick-proizvoditel-item-link(href="#")
									span.slick-proizvoditel-item-link-bg(style="background-image: url('/assets/templates/skat_1.0.0/images/partners/heli.jpg');")
									span.slick-proizvoditel-item-link-txt
										|Heli
							.slick-proizvoditel-item.text-center
								a.slick-proizvoditel-item-link(href="#")
									span.slick-proizvoditel-item-link-bg(style="background-image: url('/assets/templates/skat_1.0.0/images/partners/haulotte.jpg');")
									span.slick-proizvoditel-item-link-txt
										|Haulotte
							.slick-proizvoditel-item.text-center
								a.slick-proizvoditel-item-link(href="#")
									span.slick-proizvoditel-item-link-bg(style="background-image: url('/assets/templates/skat_1.0.0/images/partners/wecan.jpg');")
									span.slick-proizvoditel-item-link-txt
										|Wecan
							.slick-proizvoditel-item.text-center
								a.slick-proizvoditel-item-link(href="#")
									span.slick-proizvoditel-item-link-bg(style="background-image: url('/assets/templates/skat_1.0.0/images/partners/warun.jpg');")
									span.slick-proizvoditel-item-link-txt
										|WARUN
							.slick-proizvoditel-item.text-center
								a.slick-proizvoditel-item-link(href="#")
									span.slick-proizvoditel-item-link-bg(style="background-image: url('/assets/templates/skat_1.0.0/images/partners/balkancar.jpg');")
									span.slick-proizvoditel-item-link-txt
										|Balkancar
							.slick-proizvoditel-item.text-center
								a.slick-proizvoditel-item-link(href="#")
									span.slick-proizvoditel-item-link-bg(style="background-image: url('/assets/templates/skat_1.0.0/images/partners/smc.jpg');")
									span.slick-proizvoditel-item-link-txt
										|SMC