section.section_home_04.container-fluid
	.row
		.container
			h4.section_h2.text-center
				|СПЕЦПРЕДЛОЖЕНИЯ
			div.specprod_list.row
				div.specprod_list_item.container-fluid
					h4.specprod_list_item_title.pull-right.col-lg-9.col-md-8.col-sm-9.col-xs-8
						a(href="#")
							|Запчасти для техники «АМКОДОР»
					.specprod_list_item_image.col-lg-3.col-md-4.col-sm-3.col-xs-4
						a(href="#")
							img.img-responsive.center-block(src="/assets/templates/skat_1.0.0/images/lesozag_tech.png")
					.specprod_list_item_description.pull-right.col-lg-9.col-md-8.col-sm-9.col-xs-8
						p.specprod_list_item_description_wrapper
							|Специальное предложение от магазина запчастей для спец. техники компании «СКАТ».
							br
							|Запчасти по старым ценам в нашем магазине.
						p.specprod_list_item_description_cena
							strong
								|Цена по спецпредложению: 
							strong.red.specprod_list_item_description_cena_speccena
								|ЗВОНИТЕ +7 (342) 270-00-10 доб. 2 - отдел запчастей
				div.specprod_list_item.container-fluid
					h4.specprod_list_item_title.pull-right.col-lg-9.col-md-8.col-sm-9.col-xs-8
						a(href="#")
							|Запчасти для техники «АМКОДОР»
					.specprod_list_item_image.col-lg-3.col-md-4.col-sm-3.col-xs-4
						a(href="#")
							img.img-responsive.center-block(src="/assets/templates/skat_1.0.0/images/lesozag_tech.png")
					.specprod_list_item_description.col-lg-9.col-md-8.col-sm-9.col-xs-8.pull-right
						p.specprod_list_item_description_wrapper
							|Специальное предложение от магазина запчастей для спец. техники компании «СКАТ».
							br
							|Запчасти по старым ценам в нашем магазине.
						p.specprod_list_item_description_cena
							strong
								|Цена по спецпредложению: 
							strong.red.specprod_list_item_description_cena_speccena
								|ЗВОНИТЕ +7 (342) 270-00-10 доб. 2 - отдел запчастей
				div.specprod_list_item.container-fluid
					h4.specprod_list_item_title.pull-right.col-lg-9.col-md-8.col-sm-9.col-xs-8
						a(href="#")
							|Запчасти для техники «АМКОДОР»
					.specprod_list_item_image.col-lg-3.col-md-4.col-sm-3.col-xs-4
						a(href="#")
							img.img-responsive.center-block(src="/assets/templates/skat_1.0.0/images/lesozag_tech.png")
					.specprod_list_item_description.pull-right.col-lg-9.col-md-8.col-sm-9.col-xs-8
						p.specprod_list_item_description_wrapper
							|Специальное предложение от магазина запчастей для спец. техники компании «СКАТ».
							br
							|Запчасти по старым ценам в нашем магазине.
						p.specprod_list_item_description_cena
							strong
								|Цена по спецпредложению: 
							strong.red.specprod_list_item_description_cena_speccena
								|ЗВОНИТЕ +7 (342) 270-00-10 доб. 2 - отдел запчастей
							
						