.slider.container-fluid
	.row
		.container-fluid.text-center
			.row
				.slick(style="background-image: url('/assets/templates/skat_1.0.0/images/dsc_0001.jpg');")
					.slick-item
						.container
							.row
								.col-md-8.col-lg-6.pull-right
									p.slick-item-title
										strong
											|18 лет для наших клиентов!
									p.slick-item-description
										|Компания «СКАТ» уже более 18 лет заслуженно считается одним из лидеров регионального рынка спецтехники. Это значит, что мы прекрасно знаем ваши потребности, отлично разбираемся в своем деле и с готовностью идем навстречу клиенту.
										br
										|«СКАТ» - это поставки, техническое обслуживание и аренда погрузчиков и профессиональной спецтехники.
					.slick-data
						include ../js/slider.tpl
					.slider-buttons
						.slider-buttons-techic.col-lg-6.col-md-6.col-sm-6.col-xs-12
							a.btn.btn-zayavka.text-uppercase.techic(href="#")
								|Заявка на технику
						.slider-buttons-zapcast.col-lg-6.col-md-6.col-sm-6.col-xs-12
							a.btn.btn-zayavka.text-uppercase.zapchast(href="#")
								|Заявка на запчасти
							
						