li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
	a.catalog_home_item_link(href!="[~[+id+]~]")
		span.catalog_home_item_link_background(style!="background-image: url('/[[#thumb? &input=`[+tv.img_plitca+]` &options=`w=534,h=400,far=C,f=png,bg=ffffff`]]');")
		span.catalog_home_item_link_title.text-center
			|[+pagetitle+]