<section class="container-fluid map-home">
	<div class="row">
		<div class="container">
			<h3 class="section_h2 text-center text-uppercase mb-30 mt-30 title-line-black">Как к нам проехать</h3>
		</div>
	</div>
	<div class="row embed-responsive data-map">
		<div id="map" data-latlng='[(skat_map)]' data-zoom="[(skat_mapzoom)]" data-title="[(skat_infotitle)]" data-addr="[(skat_mapsearch)]" data-address="[(skat_infoaddress)]" data-duration="[(skat_infowork)]" data-phone="[(skat_infophone)]" data-marker="[(skat_mapmarker)]" data-animation="2" class="embed-responsive-item"></div>
	</div>
</section>