<div class="news-item clearfix mix [+classes+]" data-name="[+pagetitle+]" data-alias="[+alias+]">
	<div class="news-item-title col-lg-9 col-md-8 col-sm-9 col-xs-8 pull-right">
		<h5><a href="[+url+]">[+pagetitle+]</a></h5>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-3 col-xs-4 news-item-image">
		<a href="[+url+]" style="background-image: url('[+newsimage+]');"></a>
	</div>
	<div class="col-lg-9 col-md-8 col-sm-9 col-xs-8 pull-right news-item-description">
		<p>[+introtext+]</p>
	</div>
</div>