[!DocLister?
	&parents=`3`
	&depth=`40`
	&tvList=`cpecoffer,specprice,ogimage`
	&filters=`AND(tvd:cpecoffer:eq:1)`
	&showParent=`1`
	&orderBy=`editedon DESC`
	&prepare=`PSplugin::prepareCpecPred`
	&tpl=`#cpecpredlogenie`
!]