[!DocLister?
	&parents=`3`
	&depth=`40`
	&tvList=`cpecoffer,specprice,ogimage`
	&filters=`AND(tvd:cpecoffer:is:1;content:hidemenu:is:0)`
	&showParent=`1`
	&orderBy=`menuindex DESC`
	&prepare=`PSplugin::prepareCpecPred`
	&tpl=`#cpecpredlogenie`
	&ownerTPL=`@CODE:
		<div class="container-fluid">
			<div class="container-fluid">
				<h3 class="section_h3 text-center title-line-black">СПЕЦПРЕДЛОЖЕНИЯ</h3>
			</div>
		</div>
		<div class="container-fluid">
			{{anonce_heli}}
		</div>
		[+dl.wrap+]
	`
!]
[!DocLister?
	&parents=`498`
	&depth=`1`
	&filters=`AND(tvd:stock:is:2)`
	&tvList=`ogimage,price,stock`
	&tvPrefix=``
	&showParent=`0`
	&orderBy=`menuindex DESC`
	&prepare=`PSplugin::prepareBuPrice`
	&noneWrapOuter=`0`
	&tpl=`#cpecpredlogenie_bu`
	&filters=`AND(tvd:stock:is:2;content:hidemenu:is:0)`
	&ownerTPL=`@CODE:
		<div class="container-fluid">
		<div class="container-fluid">
		<h3 class="section_h3 text-center title-line-black">ПРОДАЖА СПЕЦТЕХНИКИ (Б/У)</h3>
		</div>
		</div>[+dl.wrap+]`
!]