<div class="section_home_partners container-fluid">
	<div class="row">
		<div class="container">
			<h3 class="section_h2 text-center text-uppercase title-line-black">Наши партнёры</h3>
			<div class="row">
				<div class="container-fluid">
					<div class="slick-partners slick-slider">
						[[DocLister?
							&tpl=`@CODE:
								<div class="slick-partners-item">
									<a href="[~[+id+]~]" style="background-image: url('[(site_url)][+tv.imgpart+]')" class="slick-partners-item-link">
										<span class="hidden">[+pagetitle+]</span>
									</a>
								</div>
								`
							&parents=`10`
							&display=`0`
							&sortBy=`menuindex`
							&order=`ASC`
							&tvList=`imgpart`
						]]
					</div>
				</div>
			</div>
		</div>
	</div>
</div>