<section class="section_home_01 container-fluid">
	<div class="row">
		<div class="container">
			<h2 class="section_h2 text-center">В нашем каталоге более 325 наименований техники.</h2>
			<div class="row">
				<div class="container-fluid">
					<div class="section_block">
						<p>С 1999 года компания «СКАТ» работает для того, чтобы наши клиенты получали прибыль, используя современную и надежную технику, обеспеченную сервисом и запасными частями. За эти годы нашими клиентами стали многие крупнейшие компании Западного Урала.</p>
						<p>Можем предложить Вам большой выбор погрузчиков и подъемников, складской, лесозаготовительной и дорожно-строительной техники, манипуляторов и краноустановок, зерноочистительных комплексов. Рассмотрим любые удобные для Вас варианты приобретения спецтехники, в том числе лизинг, бартер и «trade-in». Ваша покупка будет выгодной!</p>
						<p>Спецтехника <strong>Амкодор</strong>, <strong>Велмаш</strong>, <strong>Heli</strong>, <strong>Haulotte</strong>, <strong>Wecan </strong>и <a href="[~22~]">других производителей</a>, официальными представителями которых является компания «СКАТ», будет служить вам верой и правдой долгие годы, а мы сделаем все, чтобы в течение срока службы с ней не возникало проблем. Мы организуем учебу ваших операторов, если у них нет опыта работы на данной технике.</p>
						<h4 class="section_h4 text-center text-uppercase fs-25 mt-20 mb-20">Производители</h4>
						<div class="slick-proizvoditel">
							[[DocLister?
								&tpl=`@CODE:
<div class="slick-proizvoditel-item text-center">
	<a href="[~[+id+]~]" class="slick-proizvoditel-item-link">
		<span style="background-image: url('[(site_url)][+tv.imgpart+]');" class="slick-proizvoditel-item-link-bg"></span>
		<span class="slick-proizvoditel-item-link-txt hidden">[+pagetitle+]</span>
	</a>
</div>
`
								&parents=`22`
								&sortBy=`menuindex`
								&order=`ASC`
								&tvList=`imgpart`
								&addWhereList=`hidemenu=0`
							]]
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>