<div class="slider container-fluid">
	<div class="row">
		<div class="container-fluid text-center">
			<div class="row">
				<div style="background-image: url('/assets/templates/skat_1.0.0/images/dsc_0001.jpg');" class="slick">
					<div class="slick-item">
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-lg-6 pull-right">
									<p class="slick-item-title"><strong>[(company_years)] год для наших клиентов!</strong></p>
									<p class="slick-item-description">Компания «СКАТ» уже более [(company_years)] лет заслуженно считается одним из лидеров регионального рынка спецтехники. Это значит, что мы прекрасно знаем ваши потребности, отлично разбираемся в своем деле и с готовностью идем навстречу клиенту.
										<br>«СКАТ» - это поставки, техническое обслуживание и аренда погрузчиков и профессиональной спецтехники.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="slick-data">
						[[multiTV?
						&tvName=`slider_home`
						&docid=`1`
						&display=`all`
						&rows=`all`
						&noResults=``]]
					</div>
					<div class="slider-buttons">
						<div class="slider-buttons-techic header--button-wrapper"><a href="#" class="btn btn-zayavka text-uppercase techic">Заявка на технику</a></div>
						<div class="slider-buttons-zapcast header--button-wrapper"><a href="#" class="btn btn-zayavka text-uppercase zapchast">Заявка на запчасти</a></div>
						<div class="slider-buttons-remont header--button-wrapper"><a href="#" class="btn btn-zayavka text-uppercase remont">Заявка на ремонт</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>