<section class="section_home_04 container-fluid pb-40">
	<div class="row">
		[!DocLister?
			&parents=`3`
			&depth=`40`
			&tvList=`cpecoffer,specprice,ogimage`
			&filters=`AND(tvd:cpecoffer:eq:1)`
			&showParent=`1`
			&orderBy=`editedon DESC`
			&prepare=`PSplugin::prepareCpecPred`
			&noneWrapOuter=`0`
			&tpl=`#cpecpredlogenie`
			&addWhereList=`c.hidemenu = 0`
			&ownerTPL=`@CODE:
				<div class="container">
					<div class="container-fluid">
						<h4 class="section_h2 text-center title-line-black">СПЕЦПРЕДЛОЖЕНИЯ</h4>
					</div>
					<div class="specprod_list row">
						<div class="container-fluid">
							{{anonce_heli}}
						</div>
						[+dl.wrap+]
					</div>
				</div>`
		!]
		[!DocLister?
			&parents=`498`
			&depth=`1`
			&filters=`AND(tvd:stock:is:2)`
			&tvList=`ogimage,price,stock`
			&tvPrefix=``
			&showParent=`0`
			&orderBy=`editedon DESC`
			&prepare=`PSplugin::prepareBuPrice`
			&noneWrapOuter=`0`
			&tpl=`#cpecpredlogenie_bu`
			&addWhereList=`c.hidemenu = 0`
			&ownerTPL=`@CODE:
				<div class="container">
					<div class="container-fluid">
						<h4 class="section_h2 text-center title-line-black">ПРОДАЖА СПЕЦТЕХНИКИ (Б/У)</h4>
					</div>
					<div class="specprod_list row">[+dl.wrap+]</div>
				</div>`
		!]
		[!DocLister?
			&parents=`500`
			&depth=`1`
			&tvList=`cpecoffer,specprice,ogimage`
			&showParent=`0`
			&orderBy=`editedon DESC`
			&prepare=`PSplugin::prepareCpecPred`
			&noneWrapOuter=`0`
			&tpl=`#cpecpredlogenie`
			&addWhereList=`c.hidemenu = 0`
			&ownerTPL=`@CODE:
				<div class="container">
					<div class="container-fluid">
						<h4 class="section_h2 text-center title-line-black">РАСПРОДАЖА ЗАПЧАСТЕЙ</h4>
					</div>
					<div class="specprod_list row">[+dl.wrap+]</div>
				</div>`
		!]
	</div>
</section>