<ul class="catalog_home_list row">
	[[DocLister?
		&tpl=`@CODE:
	<li class="catalog_home_item col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<a href="[~[+id+]~]" class="catalog_home_item_link">
			<span style="background-image: url('/[+tv.img_plitca+]');" class="catalog_home_item_link_background"></span>
			<span class="catalog_home_item_link_title text-center">[+pagetitle+]</span>
		</a>
	</li>`
		&parents=`30`
		&sortBy=`menuindex`
		&order=`ASC`
		&tvList=`img_plitca`
	]]
</ul>
[[DocInfo?
	&docid=`30`
	&field=`blogContent`
]]