<section class="section_home_03 container-fluid">
    <!--.row(data-parallax="scroll" data-image-src="/assets/templates/skat_1.0.0/images/skat_okulova.jpg" data-speed="0.2")-->
    <div style="background-image: url('/assets/templates/skat_1.0.0/images/skat_okulova.jpg');" data-jarallax="{&quot;speed&quot;: 0.2}" class="row jarallax">
        <div class="container">
            <h3 class="section_h2 text-center">МЫ ВСЕГДА РАДЫ<br>предложить Вам полный спектр услуг</h3>
            <div class="row mb-30">
                <div class="container-fluid">
                    <div class="section_block">
						[[DocInfo?
							&docid=`30`
							&field=`content`
						]]
						<div class="section_home_03--buttons text-center mt-30">
							<button class="btn btn-zayavka text-uppercase remont">Заявка на ремонт</button>
						</div>
                    </div>
                </div>
            </div>
            {{#uslugi}}
        </div>
    </div>
</section>