/bower_components/*
/node_modules/*
/test/*
/tests/*
/src/images/bin/*
/install/*
/manager/*
/assets/.thumbs/*
/assets/backup/*
/assets/cache/*
/assets/docs/*
/assets/export/*
/assets/files/*
/assets/flash/*
/assets/images/*
/assets/import/*
/assets/js/*
/assets/lib/*
/assets/media/*
/assets/modules/*
/assets/packages/*
/assets/plugins/*
/assets/site/*
/assets/snippets/*
/assets/tvs/*
/assets/*.html
/assets/templates/index.html
/assets/templates/help/*
/*.txt
/*.install.jpg
/*.manage.jpg
/*.php
/CONTRIBUTORS.md
/HISTORY.md
/.hitaccess