/.idea/**/*
bower_components
node_modules
test
tests
site/image
src/images/bin/*
src/bin/**/*.jar
src/bin/**/*.exe
src/bin/**/*.sql
src/bin/**/*.rar
src/bin/**/*.7z
src/bin/**/*.zip
src/bin/**/*.pdf
src/bin/**/*.fcp
src/bin/**/*.ttf
src/bin/**/*.rtf
src/bin/**/*.doc
src/bin/act/*.pdf
src/bin/*.jar
src/bin/*.exe
src/bin/*.sql
src/bin/*.rar
src/bin/*.7z
src/bin/*.zip
src/bin/*.pdf
src/bin/*.fcp
src/bin/*.ttf
src/bin/*.rtf
src/bin/*.doc
site/install
site/manager
site/hoster
site/vendor
site/assets/.thumbs
site/assets/backup
site/assets/cache
site/assets/captcha
site/assets/docs
site/assets/export
site/assets/files
site/assets/flash
site/assets/images
site/assets/import
site/assets/js
site/assets/lib
site/assets/libs
site/assets/media
site/assets/modules
site/assets/packages
site/assets/plugins
site/assets/site
site/assets/snippets
site/assets/tvs/*
site/assets/*.html
site/assets/templates/index.html
site/assets/templates/help
site/*.txt
site/*.install.jpg
site/*.manage.jpg
site/*.php
site/CONTRIBUTORS.md
site/HISTORY.md
site/.hitaccess
.htaccess
/*.jar
/*.exe
/*.sql
/*.rar
/*.zip
/*.7z
/*.pdf
/*.fcp
/*.ttf
/**/*.rtf
/**/*.doc
/*.doc
/*-lock.json
**/desktop.ini
desktop.ini