footer.footer.container-fluid
	.row
		.container
			.row.footer-wrapper.mt-35
				.col-lg-4.col-md-4.footer-wrapper-left
					span
						a(href="")
							img.img-respomsive(src="/assets/templates/skat_1.0.0/images/logotip.png")
							span
								|ООО «СКАТ»
				.col-lg-4.col-md-4.footer-wrapper-center.text-center
					|614990, г. Пермь, ул. Окулова 75, корпус 8
					br
					|+7 (342) 270-00-10
				.col-lg-4.col-md-4.footer-wrapper-right
					a.btn.btn-zayavka.text-uppercase.techic(href="#")
						|Заявка на технику
					a.btn.btn-zayavka.text-uppercase.zapchast(href="#")
						|Заявка на запчасти
				.col-xs-12.footer-wrapper-copyright.text-center.clearfix
					ul.copyright-menu.mt-20
						li
							a(href="#") Контакты
						li
							a(href="#") Написать нам
						li
							a(href="#") Карта сайта
					.copyright-wrapper
						span
							|Все права защищены
							br
							|ООО «СКАТ» © 1991 — 2017