section.container-fluid.map-home
	.row
		.container
			h3.section_h2.text-center.text-uppercase.mb-30.mt-30.title-line-black
				|Как к нам проехать
	.row.embed-responsive.data-map
		.embed-responsive-item#map(data-latitude="58.011835" data-longitude="56.204424" data-title="ООО «Скат»" data-addr="ООО+«Скат»,+улица+Окулова,+75,+корпус 8,+Пермь,+Пермский+край,+Россия,+614990" data-address="614990, г. Пермь, ул. Окулова 75, корпус 8" data-duration="ПН — ПТ с 9.00 до 18.00" data-phone="+7 (342) 270-00-10" data-marker="/assets/images/marker.png" data-animation="2")
//script(async src="//jsfiddle.net/ProjectSoft/81syzjo3/embed/result,html,css/")