.menu
	nav.navbar.navbar-skat(role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement")
		div.container-fluid.navbar-container
			.navbar-header
				button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand.sk-home(href="/")
			div.collapse.navbar-collapse#bs-example-navbar-collapse-1
				ul.nav.navbar-nav
					li.active.dropdown
						a.dropdown-toggle(href="#" data-toggle="dropdown") Компания
							b.caret
						ul.dropdown-menu
							li.nav-header
								a(href="/" itemprop="url")
									span Компания
							li.divider
							li
								a(href="/" itemprop="url")
									span Новости
							li
								a(href="/" itemprop="url")
									span Сертификаты, дипломы и награды
							li
								a(href="/" itemprop="url")
									span Партнеры
							li
								a(href="/" itemprop="url")
									span Производители техники
							li
								a(href="/" itemprop="url")
									span Спецпредложения
							li
								a(href="/" itemprop="url")
									span Контакты
					li.dropdown
						a.dropdown-toggle(href="#" data-toggle="dropdown") Каталог
							b.caret
						ul.dropdown-menu
							li.nav-header
								a(href="/" itemprop="url")
									span Каталог
							li.divider
							li
								a(href="/" itemprop="url")
									span Лесозаготовительная техника
							li
								a(href="/" itemprop="url")
									span Дорожно-строительная техника
							li
								a(href="/" itemprop="url")
									span Косилки
							li
								a(href="/" itemprop="url")
									span Навесное оборудование
							li
								a(href="/" itemprop="url")
									span Запчасти для техники "АМКОДОР"
							li
								a(href="/" itemprop="url")
									span Погрузчики вилочные
							li
								a(href="/" itemprop="url")
									span Складская техника
							li
								a(href="/" itemprop="url")
									span Подъемники
							li
								a(href="/" itemprop="url")
									span Запчасти для вилочных погрузчиков
							li
								a(href="/" itemprop="url")
									span Машины торфодобывающей отрасли
							li
								a(href="/" itemprop="url")
									span Зерноочистительные комплексы
							li
								a(href="/" itemprop="url")
									span Пневмоавтоматика SMC
					li.dropdown
						a.dropdown-toggle(href="#" data-toggle="dropdown") Услуги
							b.caret
						ul.dropdown-menu.dropdown-menu-right
							li.nav-header
								a(href="/" itemprop="url")
									span Услуги
							li.divider
							li
								a(href="/" itemprop="url")
									span Продажа спецтехники
							li
								a(href="/" itemprop="url")
									span Гарантийное и сервисное обслуживание
							li
								a(href="/" itemprop="url")
									span Текущий и капитальный ремонт
							li
								a(href="/" itemprop="url")
									span Лизинг
							li
								a(href="/" itemprop="url")
									span Тrade-In
							li
								a(href="/" itemprop="url")
									span Магазин автозапчестей для спецтехники
					li.dropdown
						a.dropdown-toggle(href="#" data-toggle="dropdown") Информация
							b.caret
						ul.dropdown-menu.dropdown-menu-right
							li.nav-header
								a(href="/" itemprop="url")
									span Информация
							li.divider
							li
								a(href="/" itemprop="url")
									span Статьи
							li
								a(href="/" itemprop="url")
									span Видео