section.home-news.container-fluid
	//.row(data-parallax="scroll" data-image-src="/assets/templates/skat_1.0.0/images/skat_okulova.jpg" data-speed="0.2")
	.row.jaralax(style="background-image: url('/assets/templates/skat_1.0.0/images/predlogeniya.jpg');" data-jarallax='{"speed": 0.2}')
		.container
			h3.text-center.text-uppercase.section_h2.mb-30.mt-30.title-line-white
				|Новости компании
			.clearfix.home-news-wrapper
				article.container-fluid.home-news-item
					.row
						.col-lg-9.col-md-8.col-sm-9.col-xs-8.pull-right.home-news-item-title
							h4
								a(href="#")
									|Тяжелый сельскохозяйственный трактор «АМКОДОР 5300» на выставке «БелАгро-2017»
						.col-lg-3.col-md-4.col-sm-3.col-xs-4.home-news-item-image
							a(href="#" style="background-image: url('/assets/images/item_news_001.jpg');")
						.col-lg-9.col-md-8.col-sm-9.col-xs-8.pull-right.home-news-item-description
							p
								|Самая главная премьера выставки  тракторная премьера выставки «БелАгро-2017» – тяжелый сельскохозяйственный «Амкодор 5300». Публике машина демонстрируется впервые. Новое здесь абсолютно все, начиная собственно с жанра.
				article.container-fluid.home-news-item
					.row
						.col-lg-9.col-md-8.col-sm-9.col-xs-8.pull-right.home-news-item-title
							h4
								a(href="#")
									|«Стройкомплекс регионов России 2015» г. Пермь
						.col-lg-3.col-md-4.col-sm-3.col-xs-4.home-news-item-image
							a(href="#" style="background-image: url('/assets/images/item_news_003.jpg');")
						.col-lg-9.col-md-8.col-sm-9.col-xs-8.pull-right.home-news-item-description
							p
								|16 мая 2015 года завершилась 21-я международная специализированная строительная выставка современных технологий и оборудования для стройиндустрии, дорожно-строительной техники, инженерных сетей, а также строительных и отделочных материалов – «Стройкомплекс регионов России 2015», проходившая на территории выставочного комплекса «Пермская ярмарка» в г. Перми.
				article.container-fluid.home-news-item
					.row
						.col-lg-9.col-md-8.col-sm-9.col-xs-8.pull-right.home-news-item-title
							h4
								a(href="#")
									|АНО «ПОИКК» представляет новую рабочую специальность
						.col-lg-3.col-md-4.col-sm-3.col-xs-4.home-news-item-image
							a(href="#" style="background-image: url('/assets/images/item_news_002.jpg');")
						.col-lg-9.col-md-8.col-sm-9.col-xs-8.pull-right.home-news-item-description
							p
								|Автономная некоммерческая образовательная организация «Пермский открытый институт конверсии кадров» представляет новую перспективную рабочую специальность «Машинист лесопромышленного комплекса»