section.section_home_02.container-fluid
	.row
		.container.catalog_home
			h3.section_h2.text-center
				|Каталог
			.row.anonce_block
				.col-lg-8.col-lg-push-2.col-md-10.col-md-push-1.text-center
					.container-fluid.anonce_block_wrapper
						h4.anonce_block_title.text-uppercase.red
							|ВНИМАНИЕ!
						p
							|При приобретении продукции холдинга «АМКОДОР» 
							br
							|работает программа льготного кредитования в ОАО «АК БАРС» БАНК 
							br
							|Дополнительная информация по тел.: 8(342) 259-22-14, 239-07-00
			ul.catalog_home_list.row
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/lesozag_tech.png');")
						span.catalog_home_item_link_title.text-center
							|Лесозаготовительная техника
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/dor_stroy.png');")
						span.catalog_home_item_link_title.text-center
							|Дорожно-строительная техника
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/kosilka.png');")
						span.catalog_home_item_link_title.text-center
							|Косилки
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/nav_ob-otval.png');")
						span.catalog_home_item_link_title.text-center
							|Навесное оборудование
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/zpch_amkodor.png');")
						span.catalog_home_item_link_title.text-center
							|Запчасти для техники "АМКОДОР"
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/pogr_vilochl.png');")
						span.catalog_home_item_link_title.text-center
							|Погрузчики вилочные
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/rohlya.png');")
						span.catalog_home_item_link_title.text-center
							|Складская техника
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/shtabeler.png');")
						span.catalog_home_item_link_title.text-center
							|Подъемники
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/zap_vil.png');")
						span.catalog_home_item_link_title.text-center
							|Запчасти для вилочных погрузчиков
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/torf.png');")
						span.catalog_home_item_link_title.text-center
							|Машины торфодобывающей отрасли
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/serno.png');")
						span.catalog_home_item_link_title.text-center
							|Зерноочистительные комплексы
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/smc.png');")
						span.catalog_home_item_link_title.text-center
							|Пневмоавтоматика SMC
				