section.section_home_03.container-fluid
	//.row(data-parallax="scroll" data-image-src="/assets/templates/skat_1.0.0/images/skat_okulova.jpg" data-speed="0.2")
	.row.jarallax(style="background-image: url('/assets/templates/skat_1.0.0/images/skat_okulova.jpg');" data-jarallax='{"speed": 0.2}')
		.container
			h3.section_h2.text-center
				|МЫ ВСЕГДА РАДЫ
				br
				|предложить Вам полный спектр услуг
			.row.mb-30
				.container-fluid
					.section_block
						p
							|Компания «СКАТ» не стремится просто продать вам нужную технику – мы делаем все, чтобы ее приобретение было удобным, а обладание техникой не доставляло неприятностей. Именно поэтому мы предлагаем любые удобные варианты приобретения спецтехники, в том числе лизинг, бартер и «trade-in». Для этого работает команда специалистов, занимающихся ремонтом и техническим обслуживанием любых погрузчиков и спецтехники. Для этих целей при компании открыт большой розничный магазин запчастей и комплектующих, где вы всегда можете купить или заказать любые необходимые вам запчасти.
						p.text-center
							|Мы работаем для вас!
			ul.catalog_home_list.row
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/excovator.png');")
						span.catalog_home_item_link_title.text-center
							|Продажа спецтехники
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/garantiyny.png');")
						span.catalog_home_item_link_title.text-center
							|Гарантийное и сервисное обслуживание
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/remont_in.png');")
						span.catalog_home_item_link_title.text-center
							|Текущий и капитальный ремонт
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/lizing.png');")
						span.catalog_home_item_link_title.text-center
							|Лизинг
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/tradein.png');")
						span.catalog_home_item_link_title.text-center
							|Тrade-In
				li.catalog_home_item.col-lg-4.col-md-4.col-sm-6.col-xs-12
					a.catalog_home_item_link(href="#")
						span.catalog_home_item_link_background(style="background-image: url('/assets/templates/skat_1.0.0/images/magazin.png');")
						span.catalog_home_item_link_title.text-center
							|Магазин автозапчестей для спецтехники