.section_home_partners.container-fluid
	.row
		.container
			h3.section_h2.text-center.text-uppercase.title-line-black
				|Наши партнёры
			.row
				.container-fluid
					.slick-partners.slick-slider
						.slick-partners-item
							a.slick-partners-item-link(href="#" style="background-image: url('/assets/templates/skat_1.0.0/images/partners/carcade_partner.jpg')")
								span.hidden
									|Партнёр
						.slick-partners-item
							a.slick-partners-item-link(href="#" style="background-image: url('/assets/templates/skat_1.0.0/images/partners/peco_lising_partner.jpg')")
								span.hidden
									|Партнёр
						.slick-partners-item
							a.slick-partners-item-link(href="#" style="background-image: url('/assets/templates/skat_1.0.0/images/partners/raflizing_partner.jpg')")
								span.hidden
									|Партнёр
						.slick-partners-item
							a.slick-partners-item-link(href="#" style="background-image: url('/assets/templates/skat_1.0.0/images/partners/rosselhozbank_partner.jpg')")
								span.hidden
									|Партнёр
						.slick-partners-item
							a.slick-partners-item-link(href="#" style="background-image: url('/assets/templates/skat_1.0.0/images/partners/siemens_partner.jpg')")
								span.hidden
									|Партнёр
						.slick-partners-item
							a.slick-partners-item-link(href="#" style="background-image: url('/assets/templates/skat_1.0.0/images/partners/uralsib_partner.jpg')")
								span.hidden
									|Партнёр
						.slick-partners-item
							a.slick-partners-item-link(href="#" style="background-image: url('/assets/templates/skat_1.0.0/images/partners/vtb_partner.jpg')")
								span.hidden
									|Партнёр