doctype html
html.no-js(lang="ru" prefix="og: http://ogp.me/ns#")
	include php/function.php
	include include/head
	body.preload
		include include/header
		include include/menu
		include include/slider
		|<?=getFileContent('/assets/templates/skat_1.0.0/js/modernizr.js', 'js');?>
		include include/section_home_01
		include include/section_home_02
		include include/section_home_03
		include include/section_home_04
		include include/section_home_news
		include include/section_home_partners
		include include/home_map
		
		include include/footer
		script(src!="<?=getFileTime('/assets/templates/skat_1.0.0/js/app.js');?>")
		script(src!="<?=getFileTime('/assets/templates/skat_1.0.0/js/hypher.js');?>")
		script(src!="<?=getFileTime('/assets/templates/skat_1.0.0/js/main.js');?>")