body {
	@media(min-width: 768px) {
		font-size: 18px;
	}
}
img {
	max-width: 100%;
}
.red {
	color: red;
}
.make-pm(margin-top, mt);
.make-pm(margin-bottom, mb);
.make-pm(padding-top, pt);
.make-pm(padding-bottom, pb);
a {
	&, &:focus {
		color: #036;
		outline: none;
	}
	&:hover {
		color: #4a76a2;
	}
}
.jarallax {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}