.dl-horizontal {
	&.dl-horizontal-content {
		@media (min-width: 768px) {
			> dt {
				width: 300px;
			}
			> dd {
				margin-left: 315px;
			}
		}
	}
}
.new-page, .proizvod-page, .content-page, .mce-content-body {
	p {
		> .img-responsive {
			.center-block();
		}
	}
}
.content-page {
	.clearfix();
	a {
		text-decoration: underline;
		&.nounder {
			text-decoration: none;
		}
	}
	.table {
		.name {
			
		}
		.value {
			&1 {
				
			}
			&2 {
				@media(min-width: 768px){
					max-width: 300px;
				}
			}
		}
	}
}