.footer {
	position: relative;
	display: block;
	background-image: data-uri('@{images}bin/foot_bg.png');
	background-repeat: repeat-x;
	background-position: top center;
	background-color: #000;
	color: #fff;
	&-wrapper {
		&-left {
			text-align: center;
			margin-bottom: 15px;
			a {
				&, &:hover, &:focus {
					color: #fff;
					text-decoration: underline;
				}
			}
			@media(min-width: 992px){
				text-align: left;
				margin-bottom: 0px;
			}
		}
		&-right {
			
		}
		&-center {
			
		}
		&-copyright {
			text-align: center;
			.copyright {
				&-menu {
					padding-left: 0px;
					display: inline-block;
					list-style: none;
					> li {
						float: left;
						position: relative;
						font-size: 14px;
						&:before {
							position: absolute;
							content: " ";
						}
						+ li {
							margin-left: 20px;
							&:before {
								content: "|";
								left: 0px;
								top: 0px;
								margin-left: -11.5px;
							}
						}
						a {
							&, &:hover {
								text-decoration: underline;
								color: #fff;
							}
						}
					}
				}
				&-wrapper {
					color: #575757;
					font-size: 12px;
				}
			}
		}
	}
}