.slick {
	&-partners {
		position: relative;
		overflow: hidden;
		margin-top: 20px;
		margin-bottom: 30px;
		&-item {
			position: relative;
			float: left;
			padding: 15px;
			&-link {
				position: relative;
				display: block;
				padding-bottom: percentage((1/16)*9);
				height: 0px;
				overflow: hidden;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
			}
		}
	}
}