.specprod {
	&_list {
		&_item {
			margin-bottom: 15px;
			&_title {
				font-weight: bold;
			}
			&_image {
				
			}
			&_description {
				&_wrapper {
					
				}
			}
			&_cena {
				&_speccena {
					
				}
			}
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}